
build/lib/vulgata_spacy/__init__.py
build/lib/vulgata_spacy/data/clem_partial.npy
build/lib/vulgata_spacy/data/clem_vulgate.csv
build/lib/vulgata_spacy/data/index_map_partial.json
build/lib/vulgata_spacy/models/vulgate_pipeline/config.cfg
build/lib/vulgata_spacy/models/vulgate_pipeline/entity_ruler/cfg
build/lib/vulgata_spacy/models/vulgate_pipeline/entity_ruler/patterns.jsonl
build/lib/vulgata_spacy/models/vulgate_pipeline/meta.json
build/lib/vulgata_spacy/models/vulgate_pipeline/ner/cfg
build/lib/vulgata_spacy/models/vulgate_pipeline/ner/model
build/lib/vulgata_spacy/models/vulgate_pipeline/ner/moves
build/lib/vulgata_spacy/models/vulgate_pipeline/tokenizer
build/lib/vulgata_spacy/models/vulgate_pipeline/vocab/dates_only
build/lib/vulgata_spacy/models/vulgate_pipeline/vocab/full_data
build/lib/vulgata_spacy/models/vulgate_pipeline/vocab/lookups.bin
build/lib/vulgata_spacy/models/vulgate_pipeline/vocab/strings.json
build/lib/vulgata_spacy/models/vulgate_pipeline/vocab/vectors
build/lib/vulgata_spacy/models/vulgate_pipeline/vocab/vectors.cfg
build/lib/vulgata_spacy/vulgata_spacy.py
dist/vulgata_spacy-0.0.1-py3-none-any.whl
dist/vulgata_spacy-0.0.2-py3-none-any.whl
dist/vulgata-spacy-0.0.1.tar.gz
dist/vulgata-spacy-0.0.2.tar.gz
